
/*temceen*/
.temceen{
	padding: 6em;
	background: #eecd16;

}

.temceen h1{
	color: #fff;
	text-align: center;
}

.temceen h2{
	margin: 1em 0em;
	color: #fff;
}
.temceen section img{
	width: 100%;
}
.temceen p{
	color: #2f2f2f;
}

.big-date{
	padding-top: 0.1em;
	margin-right: 1em;
	font-weight: 600;
	color: #fff;
	font-size: 1.8em;
}

.temceen .btn-primary {
    color: #fff;
    background-color: #1c5eb1;
    border-color: #1c5eb1;
}

.temceen .btn-primary:hover {
    color: #1c5eb1;
    background-color: #fff;
    border-color: #fff;
}

.content-banner{
	width: 100%;
	height: 300px;
	overflow: hidden;
}
/*end of temceen*/
